:root{
    --Background: #0D1117;
    --Primary: #E6EDF3;
    --Accent: #00C9A7;
    --Secondary: #FF6EC;
    --Button: #00f7ff;
}
body{
    background-color:var(--Background);
    display: flex;
    flex-direction: column;
   transition: all 0.5s ease;
   scroll-behavior: smooth;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Background);
  z-index: -1; 
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 1px solid var(--Button);
    border-radius: 50px 50px 50px 50px;
    color: var(--Primary);
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    box-shadow: 0px 0px 5px var(--Button);
    transition: all 0.5s ease;
    position: fixed;
    top: 50px;
    cursor: pointer;
    z-index: 200;
}
.Header-Button:hover{
    width:220px;
    font-size: 28px;
}
.main-header-wrapper{
    display: none;
    z-index: 100;
}
.main-Header{
   width:600px;
   height:50px;
   /* border:1px solid var(--Button); */
   backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
   border-radius: 50px 50px 50px 50px;
   position: fixed;
   top: 120px;
   left : 50%;
   transform: translateX(-50%);
   box-shadow: 0px 0px 5px var(--Button);
}
.Wrapper-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 0 0 5px var(--Button);
}
.main-Header a{
    color: var(--Primary);
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
}
.main-Header a:hover{
    font-size: 18px;
    text-decoration: underline;
}
.Main-body {
  width: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Profphoto{
    height:600px;
    width: 700px;
    background-image: url("./assets/Professionalphoto1.png");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    right:20%;
    margin-top: 120px;
    background-color: transparent;
}
.side-box{
    left:50%;
    width:450px;
    height: 300px;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    border: 1px solid var(--Button);
    margin-top: 120px;
}
.side-box p{
    color: white;
    font-family: "Space Grotesk", sans-serif;
    /* text-align: left; */
    padding-left: 30px;
}
.content-1{
    padding-top: 20px;
    line-height: 2rem;

}
.text{
    display: flex;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.typed{
    display: inline-block;
    animation: typing 4s steps(23) forwards;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color: white;
    font-size: 30px;
}
.cursor{
    display: inline-block;
    width: 2px;
    background-color: white;
    margin-left: 5px;
    animation: blink 0.8 step-end infinite;
}
@keyframes typing {
    from{max-width: 0;}
    to {max-width: 30ch;}
    
}
@keyframes blink {
    50%{opacity:0;}
}
.para{
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
    padding-right: 5px;
}
.side-content{
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-top: 50px;
}
.icon i{
    text-decoration: none;
    color: var(--Button);
    font-size: 30px;
    transition: all 0.3s ease;
    text-shadow: 0 0 3 var(--Button);
}
.resume{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
.resume button{
    width: 120px;
    height: 40px;
    font-family: "Space Grotesk", sans-serif;;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid var(--Button);
    box-shadow: 0px 0px 5px var(--Button);
    color: white;
    transition: all 0.3 ease;
    cursor: pointer;
}
.resume button:hover{
    transform: translate(10px,-10px);
}
.Projects{
    position: relative;
}
.Projects h1{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    font-family: "Space Grotesk", sans-serif;
    text-shadow: 0 0 5px var(--Button);
}
.Project-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Lottie-anime {
  width: 500px;  
  height: 500px;
}
.side-box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:450px;
    height: 300px;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    border: 1px solid var(--Button);
}
.bookmate-content
{
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    text-shadow: 0px 0px 4px var(--Button);
}
.bookmate-para{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 10px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.5rem;
    text-shadow: 0px 0px 4px var(--Button);
}
.bookmate-button{
    width:100px;
    height:30px;
    border-radius: 12px;
    color: white;
    text-shadow: 0px 0px 4px var(--Button);
    background-color: transparent;
    border: 1px solid var(--Button);
    transform: all 0.5s ease;
    cursor: pointer;
}
.bookmate-button a{
    color: white;
    text-decoration: none;
}
.bookmate-button:hover{
    width:110px;
    font-size: 14px;
}

/* .Project-section {
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-wrap: wrap; */
  /* gap: 20px;
  width: 90%;
  max-width: 1200px;
  padding: 20px; */
/* } */
/* .card1 {
  background: #161b22;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}
.animation {
  width: 100%;
  height: 200px; 
  margin-bottom: 15px;
}
.Title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00c9a7;
}

.Link a {
  color: #00f7ff;
  text-decoration: none;
  font-size: 14px;
}
.Link a:hover {
  text-decoration: underline;
} */
