:root{
    --Background: #0D1117;
    --Primary: #E6EDF3;
    --Accent: #00C9A7;
    --Secondary: #FF6EC;
    --Button: #00f7ff;
}
body{
    background-color:var(--Background);
    display: flex;
    flex-direction: column;
   transition: all 0.5s ease;
   scroll-behavior: smooth;
   font-family: "Space Grotesk", sans-serif;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Background);
  z-index: -1; 
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 1px solid var(--Button);
    border-radius: 50px 50px 50px 50px;
    color: var(--Primary);
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    box-shadow: 0px 0px 5px var(--Button);
    transition: all 0.5s ease;
    position: fixed;
    top: 50px;
    cursor: pointer;
    z-index: 200;
}
.Header-Button:hover{
    width:220px;
    font-size: 28px;
}
.main-header-wrapper{
    display: none;
    z-index: 100;
}
.main-Header{
   width:600px;
   height:50px;
   /* border:1px solid var(--Button); */
   backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
   border-radius: 50px 50px 50px 50px;
   position: fixed;
   top: 120px;
   left : 50%;
   transform: translateX(-50%);
   box-shadow: 0px 0px 5px var(--Button);
}
.Wrapper-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 0 0 5px var(--Button);
}
.main-Header a{
    color: var(--Primary);
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
}
.main-Header a:hover{
    font-size: 18px;
    text-decoration: underline;
}
.sub-heading{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 28px;
  margin-top: 200px;
  text-shadow: 0 0 5px var(--Button);
}
.sub-heading p{
  text-align: center;
  max-width: 600px;
  font-size: 16px;
  font-weight: lighter;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  position: relative;
  margin-top: 80px;
  flex-wrap: wrap;
}
.card-1 {
  position: relative;
  width: 400px;
  height: 250px;
  border: 1px solid var(--Button);
  box-shadow: 0 0  5px var(--Button);
  border-radius: 12px;
  cursor:pointer;
}
.card-2 {
  position: relative;
  width: 400px;
  height: 250px;
  border: 1px solid var(--Button);
  box-shadow: 0 0  5px var(--Button);
  border-radius: 12px;
  cursor:pointer;
}
.card-3 {
  position: relative;
  width: 400px;
  height: 250px;
  border: 1px solid var(--Button);
  box-shadow: 0 0  5px var(--Button);
  border-radius: 12px;
  cursor:pointer;
}

.card-img {
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block; */
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
  background-color: black;
}
.overlay {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scaleY(0);  
  transform-origin: bottom; 
  transition: all 0.4s ease; 
}

.card-1:hover .overlay,
.card-2:hover .overlay,
.card-3:hover .overlay {
  opacity: 1;
  transform: scaleY(1);
}
.card-content h3{
  color: #00f7ff;
}
.card-content h3, .card-content p {
  margin: 5px 0;
}
