:root{
    --Background: #0D1117;
    --Primary: #E6EDF3;
    --Accent: #00C9A7;
    --Secondary: #FF6EC;
    --Button: #00f7ff;
}
body{
    background-color:var(--Background);
    display: flex;
    flex-direction: column;
   transition: all 0.5s ease;
   scroll-behavior: smooth;
   font-family: "Space Grotesk", sans-serif;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Background);
  z-index: -1; 
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 1px solid var(--Button);
    border-radius: 50px 50px 50px 50px;
    color: var(--Primary);
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    box-shadow: 0px 0px 5px var(--Button);
    transition: all 0.5s ease;
    position: fixed;
    top: 50px;
    cursor: pointer;
    z-index: 200;
}
.Header-Button:hover{
    width:220px;
    font-size: 28px;
}
.main-header-wrapper{
    display: none;
    z-index: 100;
}
.main-Header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
   padding: 12px 50px;
   backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
   border-radius: 50px 50px 50px 50px;
   position: fixed;
   top: 120px;
   transform: translateX(-50%);
   box-shadow: 0px 0px 5px var(--Button);
}
.Wrapper-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-shadow: 0 0 5px var(--Button);
    font-size: 24px;
}
.main-Header a{
    color: var(--Primary);
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
}
.main-Header a:hover{
    font-size: 18px;
    text-decoration: underline;
}
.sub-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:180px;
}
.head{
    font-size: 28px;
    color: white;
    text-shadow: 0 0 5px var(--Button);
}
.skill-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-box{
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    width:800px;
    height: 70px;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
   border-radius: 50px 50px 50px 50px;
    margin-top: 50px;
    border: 1px solid var(--Button);
    box-shadow: 0 0 5px var(--Button); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:800px;
    height: 50px;
    gap: 10px;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
   border-radius: 50px 50px 50px 50px;
    margin-top: 50px;
    border: 1px solid var(--Button);
    box-shadow: 0 0 5px var(--Button);
}
.skill-box a{
    color: white;
    font-size: 20px;
    text-shadow: 0 0  5px var(--Button);
    text-decoration: none;
    transform: all 0.5s ease;
}
.skill-box a:hover{
    text-decoration: underline;
    font-size: 22px;
    color: white;
}
 .skills-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px
}

.skill-card {
    width: 450px;
    height: 250px;
    border-radius: 50px;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 5px var(--Button);
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin: 30px;
     */
}
.skill-card .overlay {
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scaleY(0);   
  transform-origin: bottom;
  transition: all 0.4s ease;
}

.skill-card:hover .overlay {
  opacity: 1;
  transform: scaleY(1);
}

.code-img {
   width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 12px;
  display: block;
  background-color: transparent;
}

.card-content h3 {
  color: #00f7ff;
}

.card-content h3, .card-content p {
  margin: 5px 0;
}

.code-btn {
  width: 150px;
  height:30px;
  background-color: transparent;
  border: 1px solid var(--Button);
  text-shadow: 0 0 5px var(--Button);
  color: white;
  border-radius: 12px;
  margin-top: 10px;
}

.code-btn-link {
  color: white;
  text-decoration: none;
}

.code-btn:hover {
  font-size: 16px;
  height: 40px;
  width: 110px;
}
.skill-box a.active {
  text-decoration: underline;
  font-size: 22px;
  color: white;
}
@media screen and (max-width:575px) {
  .main-Header a
  {
    font-size: 12px;
  }
  .skill-box a{
    font-size: 15px;
  }
  .skill-box a.active{
    font-size: 15px;
  }
}
@media screen and (max-width:450px) {
    .main-Header a{
        font-size: 12px;
    }
    .Wrapper-header
    {
        gap: 10px;
    }
    .Header-Button{
        margin-left: 0px;

    }

}
@media screen and (max-width:340px)
{
  .Header-Button{
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
  .main-Header{
   padding: 10px 20px;
  }
  .Wrapper-header a{
    font-size: 12px;
  }
}
.footer-simple {
  backdrop-filter: blur(0px) saturate(200%);
-webkit-backdrop-filter: blur(5px) saturate(200%);
 background-color: rgba(255, 255, 255, 0.12);
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05em;
  user-select: none;
  /* box-shadow: 0 0 5px var(--Button); */
  text-shadow: 0 0 5px var(--Button);
  margin-top: 20px;
}

.footer-simple p {
  margin: 5px 0;
} 
